<ion-card>
  <img src='../../../../assets/tutorial/search.PNG'>
  <ion-card-header>
    <ion-card-title>Search</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Whenever you enter a receipt, all items are associated with a location that they were purchased at. This allows you and other users to search for an item, and know where it was recently purchased and for what price.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>How to Search</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Enter the common name of an item under "Item Name", and select one of the names that autofills. If you cannot find the name of the item, it means that nobody has recorded the purchase of that item in the past month.
    <br>
    <br>
    Once you have selected an item, all of the locations where the item has been purchased will be displayed for you, with the average price that it was purchased for.
  </ion-card-content>
</ion-card>