<ion-card>
  <img src='../../../../assets/tutorial/reports.PNG'>
  <ion-card-header>
    <ion-card-title>Reports</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    To visualize your spending over time, your receipt data can be displayed in charts by category.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Pie Chart by Tag</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    View a breakdown of your spending over a period of time by the tag of each expense. Modify the time period by selecting "Start Date" and "End Date".
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Line Chart Over Time</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    View the progress of your spending over time for each tag. Modify the time period by selecting "Start Date" and "End Date".
  </ion-card-content>
</ion-card>