<ion-card>
  <img src='../../../../assets/tutorial/profile.PNG'>
  <ion-card-header>
    <ion-card-title>Profile</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    View and edit your profile information.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Edit Profile Information</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    To edit your information, press the "EDIT" button, and all applicable fields will become editable. If changing your email, it will not be changed until you click the confirmation link that is sent to the new email.
    <br>
    <br>
    Once you are done making your changes, press the "SAVE" button.
  </ion-card-content>
</ion-card>