<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src='../../../assets/receiptScanner.png'>
    <ion-card-header>
      <ion-card-subtitle>Friday, October 31, 2019</ion-card-subtitle>
      <ion-card-title>Virtualytics is in Development</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Virtualytics is officially on track! The ability to manage your spending and track your budget will soon be here.
      We can't wait to deliver an application that helps people like you save more money for what's really important in life.
    </ion-card-content>
  </ion-card>
</ion-content>