<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src='../../../assets/ready.png'>
    <ion-card-header>
      <ion-card-subtitle>Monday, March 9, 2020</ion-card-subtitle>
      <ion-card-title>SpendSense: Now in early access!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      We're pleased to announce that the SpendSense application's main functions have been completed,
      and is open for use! We're still improving functionality ahead of our official release, so stay tuned for updates!
      <br><br>
      Happy Spending, from the Virtualytics Team.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src='../../../assets/receiptScanner.png'>
    <ion-card-header>
      <ion-card-subtitle>Friday, October 31, 2019</ion-card-subtitle>
      <ion-card-title>SpendSense is in Development</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      SpendSense is officially on track! The ability to manage your spending and track your budget will soon be here.
      We can't wait to deliver an application that helps people like you save more money for what's really important in life.
    </ion-card-content>
  </ion-card>
</ion-content>