<ion-card>
  <ion-card-header>
    <ion-card-title>Welcome to SpendSense!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Thank you for joining the SpendSense community, where we can help you track your expenses to let
    you better manage your finances.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Receipts</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Expense information typically comes in the form of receipts. Receipts contain items, which have a name
    and price. To track your expenses, these receipts can be recorded, and each item can be associated with categorical
    information to break down your expenses.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Tags</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Knowing how much you spent over a period time is not enough to properly evaluate your spending. A more powerful way to track
    your spending is to categorize your spending, and observe your spending in each category. This can be accomplished
    by associating a "tag" with each of the items on your receipts.
  </ion-card-content>
</ion-card>