<ion-card>
  <img src='../../../../assets/tutorial/manual-entry.PNG'>
  <ion-card-header>
    <ion-card-title>Manual Entry</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    After scanning a receipt, editing one, or entering one manually, you will go through the manual entry process.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Date</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The date of the receipt will determine when the information is recorded. If all your receipts
    for the year were recorded with the same date, it would not give you an accurate visualization of your spending.
    Select the date where the receipt was incurred, to properly track your spending.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Franchise</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The franchise records who the receipt was incurred from. Select a franchise from one in the system.
    <br><br>
    If you cannot find the franchise, press the "CAN'T FIND A FRANCHISE?" button to be navigated to a page where you can
    add the franchise to the system, and then navigate back to the Manual Entry page to finish entering the receipt.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Location</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The location records where the receipt was incurred from. Select a location from one in the system.
    <br><br>
    If you cannot find a location, press the "CAN'T FIND A LOCATION?" button to be navigated to a page where you can
    add the location to the system, and then navigate back to the Manual Entry page to finish entering the receipt.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Receipt Item</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    To add another item to the receipt, press the "ADD RECEIPT ITEM" button.
    <br><br>
    To specify the item, enter the name on the receipt under "Name on Receipt". The application will then
    search all items that have been previously entered in the system, and find the most similar common name.
    If the common name is not correct, search for other common names or enter a new one. It is best to use an existing
    common name than a new one.
    <br><br>
    Once the common name has been found, the most common tag associated with that common name will be entered automatically. If you would
    like to associate a different tag with the item, search for the tag or enter a new one. It is best to use an existing
    tag than a new one.
    <br><br>
    You can specify the price of the item under "Price".
    <br><br>
    If the item is valued by an amount, such as pounds, litres, etc., you can check the "Has Amount" box, and specify
    the units and the amount.
  </ion-card-content>
</ion-card>