<ion-card>
  <img src='../../../../assets/tutorial/upload-image.PNG'>
  <ion-card-header>
    <ion-card-title>Uploading an image</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    A record of an expense typically comes in the form of a receipt. In the past, you would
    have to manually copy the data from this receipt to a data visualization tool of your choice.
    Now, SpendSense can scan the receipt for you to copy, record, and analyze this data for you in seconds.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>How to upload</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Navigate to the Upload Image page, and press the "Choose File" button. Once you have selected an image,
    the application will begin scanning the image and will send the scanned information to the Manual Entry
    page, where you can edit and confirm the information.
    <br><br>
    The next page will explain how to manual entry process.
  </ion-card-content>
</ion-card>