<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='ion-padding'>
    <ion-list lines='full' class='ion-no-margin ion-no-padding'>
      <ion-item>
        <ion-label position='stacked'>Item Name <ion-text color='danger'>*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]='model.search.name'></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin" (click)='search()'>Search</ion-button>
    </div>
    <br>
    <table *ngIf='model.results.franchises != null' class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tag</th>
          <th scope="col">Price</th>
          <th scope="col">Location</th>
          <th scope="col">Franchise</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let locationItem of model.results.locationItems">
          <th scope="row">{{locationItem.getValue('name')}}</th>
          <td>{{locationItem.getValue('tag')}}</td>
          <td>{{locationItem.getValue('price')}}</td>
          <td>{{model.results.locations.get(locationItem.getValue('_locationId')).getValue('address')}}, {{model.results.locations.get(locationItem.getValue('_locationId')).getValue('city')}}, {{model.results.locations.get(locationItem.getValue('_locationId')).getValue('country')}}</td>
          <td>{{model.results.franchises.get(model.results.locations.get(locationItem.getValue('_locationId')).getValue('_franchiseId')).getValue('name')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>