<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>View Receipts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='ion-padding'>
    <ion-list *ngIf='!isLoading()' lines='full' class='ion-no-margin ion-no-padding'>
      <ion-item *ngFor='let receipt of receipts'>
        <ion-label>{{receipt.franchise.getValue('name')}}<br>{{receipt.location.getValue('address')}}<br>{{receipt.receipt.getValue('date').getFullYear()}}-{{receipt.receipt.getValue('date').getMonth() + 1}}-{{receipt.receipt.getValue('date').getDate()}}</ion-label>
        <ion-button (click)='editReceipt(receipt.receipt)'>View/Edit</ion-button>
        <ion-button color='danger' (click)='deleteReceipt(receipt.receipt)'>Delete</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>