<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Manual Receipt Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <ion-list>
    <!-- <form lines = 'full' (ngSubmit)=manualentry(form)>    [scrollEvents]="true" -->
      <!-- Receipt -->
      <ion-item>
        <ion-searchbar animated type="text" (ionChange)="getfranchises($event)">Name:<ion-text color='danger'>*   </ion-text></ion-searchbar>
        <!-- <ion-input required type="text" placeholder="Enter Vendor Name" [(ngModel)]='storeName'></ion-input> -->
      </ion-item>

      <ion-item>
        <ion-searchbar animated>Address:<ion-text color='danger'>* </ion-text></ion-searchbar>
        <ion-input type="text" placeholder="Enter Address" [(ngModel)]='location'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date:<ion-text color='danger'>* </ion-text></ion-label>
        <ion-datetime slot="end" max="2099-12-31" min="2000-01-01" placeholder="  Select Date" [(ngModel)]="date"></ion-datetime>
      </ion-item>
      
      <!-- ReceiptItems -->
      <ion-item-sliding *ngFor="let entry of items">
        <ion-item>
          <p>
            <ion-label>Item: </ion-label>
            <ion-input type="text" placeholder="Enter Item">{{entry.name}}</ion-input>

            <ion-label>Price ($): </ion-label>
            <ion-input type="text" digitOnly placeholder='$0.00'>{{entry.price}}</ion-input>
            <ion-button color="dark" (click)='toggleHasAmount(entry)'>Toggle Has Amount</ion-button>
          </p>
            <div *ngIf='entry.hasAmount'>
                <ion-label *ngIf='entry.hasAmount'>Amount: </ion-label>
                <ion-input *ngIf='entry.hasAmount' type="text" placeholder="Enter Amount">{{entry.amount}}</ion-input>
    
                <ion-label *ngIf='entry.hasAmount'>Unit: </ion-label>
                <ion-select *ngIf='entry.hasAmount' [interfaceOptions]="customAlertOptions" placeholder="Please select an option" interface="alert">
                  <ion-select-option>Each (per)</ion-select-option>
                  <ion-select-option>Pounds (lbs)</ion-select-option>
                  <ion-select-option>Grams (g)</ion-select-option>
                  <ion-select-option>Kilograms (kg)</ion-select-option>
                </ion-select>
            </div>
          <p>
            <ion-label>Tag: </ion-label>
            <ion-input type="text" placeholder="Enter a tag">{{entry.tag}}</ion-input>
          </p>
      </ion-item>
        
        <ion-item-options side="start">
          <ion-button id="entry" color ="danger"(click)="delete(entry)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
        </ion-item-options>
      </ion-item-sliding>

      <div class='ion-padding'>
        <ion-button (click)="newItem()">Add New Item</ion-button>
        
        <ion-button (click)="submit()" color="tertiary">Submit</ion-button>
        <!-- [disabled]='!readyForSubmit()' -->
      </div>
    <!-- </form> -->
  </ion-list>
</ion-content>



